{
  "family_name": "Ash-Kaa family",
  "users": {
    "Alex":  "sample/sample_alex.csv",
    "Tsu":   "sample/sample_tsu.csv",
    "Ari":   "sample/sample_ari.csv",
    "Rumi":  "sample/sample_rumi.csv",
    "Kiran": "sample/sample_kiran.csv"
  },
  "countries_lived": {
    "alex":  ["NL"],
    "tsu":   ["NL"],
    "ari":   ["NL"],
    "rumi":  ["NL"],
    "kiran": ["IN"]
  },
  "home_airports": {
    "AMS": "AMS",
    "EIN": "AMS",
    "RTM": "AMS",
    "BOM": "BOM"
  }
}
